@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

@model Login_Page.Models.employee
<address>
    @Model.EID
    @Model.Firstname
    @Model.Lastname
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
